.main-nav__item.color-red:hover
{
    border-top:.25rem solid #D51D3C;
}
.main-nav__item.color-orange:hover
{
    border-top:.25rem solid #F15A2A;
}
.main-nav__item.color-blue:hover
{
    border-top:.25rem solid #2AA8DF;
}
.main-nav__item.color-green:hover
{
    border-top:.25rem solid #00A89B;
}
.main-nav__item.color-fiolet:hover
{
    border-top:.25rem solid #293793;
}
