.searchfield-tooltip {
  position: absolute;
  left: 0;
  top: 2.1875rem;
  z-index: 15;
  border: 0.125rem solid #F0F0F0;
  min-width: 22.5rem;
  width: 100%;
  padding: 0.9375rem;
  border-radius: 0.3125rem;
  background-color: #fff;
  color: #808080;
}

.searchfield-tooltip__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.searchfield-tooltip__link {
  display: block;
  padding: 0.3125rem;
  color: inherit;
  border-radius: 0.3125rem;
  -webkit-transition: background .3s;
  transition: background .3s;
}

.searchfield-tooltip__link:hover {
  text-decoration: none;
  background-color: #F0F0F0;
}