.menu-left__item_active .menu-left__link.color-red:before
{
    color: #D51D3C;
}
.menu-left__item_active .menu-left__link.color-orange:before
{
    color: #F15A2A;
}
.menu-left__item_active .menu-left__link.color-blue:before
{
   color: #2AA8DF;
}
.menu-left__item_active .menu-left__link.color-green:before
{
    color: #00A89B;
}
.menu-left__item_active .menu-left__link.color-fiolet:before
{
   color: #293793;
}




.menu-left__item:hover .menu-left__link.color-red::before
{
    color: #D51D3C;
}
.menu-left__item:hover .menu-left__link.color-orange::before
{
    color: #F15A2A;
}
.menu-left__item:hover .menu-left__link.color-blue::before
{
   color: #2AA8DF;
}
.menu-left__item:hover .menu-left__link.color-green::before
{
    color: #00A89B;
}
.menu-left__item:hover .menu-left__link.color-fiolet::before
{
   color: #293793;
}