/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Remove margin
 */
figure {
  margin: 0;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/* Blockquote
   ========================================================================== */
blockquote {
  margin: 0;
}

/* Your custom fonts here */
/* Example

@font-face {
    font-family: 'CustomFont';
    src: url('../fonts/Custom-Font.eot');
    src: url('../fonts/Custom-Font.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Custom-Font.woff') format('woff'),
         url('../fonts/Custom-Font.svg#custom_font') format('svg');
    font-weight: 400;       // For normal width. It could has another value   
    font-style: normal;     // Also could has another value
    }


// Var for using custom font
$CustomFont: 'CustomFont', Helvetica, Arial, sans-serif;
*/
@font-face {
  font-family: 'PFBeauSansPro';
  src: url("../fonts/pfbeausanspro-regular/pfbeausanspro-reg-webfont.ttf");
  src: url("../fonts/pfbeausanspro-regular/pfbeausanspro-reg-webfont.woff") format("woff"), url("../fonts/pfbeausanspro-regular/pfbeausanspro-reg-webfont.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PFBeauSansPro-bold';
  src: url("../fonts/pfbeausanspro-bold/pfbeausanspro-sebold-webfont.ttf");
  src: url("../fonts/pfbeausanspro-bold/pfbeausanspro-sebold-webfont.woff") format("woff"), url("../fonts/pfbeausanspro-bold/pfbeausanspro-sebold-webfont.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Calibri';
  src: url("../fonts/calibri/calibri.ttf");
  src: url("../fonts/calibri/calibri.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Calibri-light';
  src: url("../fonts/calibri/calibri_light.ttf");
  src: url("../fonts/calibri/calibri_light.ttf") format("ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'glyphicons';
  src: url("../fonts/glyphicons/glyphicons-halflings-regular.eot");
  src: url("../fonts/glyphicons/glyphicons-halflings-regular.woff") format("woff"), url("../fonts/glyphicons/glyphicons-halflings-regular.ttf") format("ttf"), url("../fonts/glyphicons/glyphicons-halflings-regular.svg") format("svg"), url("../fonts/glyphicons/glyphicons-halflings-regular.woff2") format("woff2"), url("../fonts/glyphicons/glyphicons-halflings-regular.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}

.searchfield-tooltip {
  position: absolute;
  left: 0;
  top: 2.1875rem;
  z-index: 15;
  border: 0.125rem solid #F0F0F0;
  min-width: 22.5rem;
  width: 100%;
  padding: 0.9375rem;
  border-radius: 0.3125rem;
  background-color: #fff;
  color: #808080;
}

.searchfield-tooltip__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.searchfield-tooltip__link {
  display: block;
  padding: 0.3125rem;
  color: inherit;
  border-radius: 0.3125rem;
  -webkit-transition: background .3s;
  transition: background .3s;
}

.searchfield-tooltip__link:hover {
  text-decoration: none;
  background-color: #F0F0F0;
}

html, body {
  height: 100%;
}

html {
  font-size: 16px;
}

.page {
  font-family: 'Calibri-light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.125rem;
  padding: 0 0.9375rem;
}

.page__wrapper {
  padding-top: 2.125rem;
  min-height: 100%;
  min-width: 1185px;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.container {
  width: 1185px;
  margin: 0 auto;
  overflow: hidden;
}

.container:before, .container:after {
  display: table;
  content: "";
}

.container:after {
  clear: both;
}

.lt-ie8 .container {
  zoom: 1;
}

p {
  color: #808080;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #808080;
}

h2 {
  font-size: 1.1875rem;
}

a {
  color: #39A9DC;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
}

.slick-slider,
.slick-list,
.slick-track,
.slick-slide {
  height: 100%;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Dots */
.slick-dots {
  position: absolute;
  bottom: 0.25rem;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 1.25rem;
  width: 1.25rem;
  margin: 0 0.3125rem;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  border: 0;
  position: absolute;
  top: 0.375rem;
  left: 0.375rem;
  border-radius: 50%;
  background: #fff;
  display: block;
  width: 0.3125rem;
  height: 0.3125rem;
  line-height: 0.3125rem;
  outline: none;
  color: transparent;
  padding: 0.3125rem;
  cursor: pointer;
}

.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}

.slick-dots li.slick-active button {
  width: 0.875rem;
  height: 0.875rem;
  top: 0.25rem;
  left: 0.25rem;
}

.selection:focus, *:focus {
  outline: none;
}

.selection * {
  -webkit-transition: all .3s;
  transition: all .3s;
}

.select2-container {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  position: relative;
  vertical-align: middle;
  font-size: 0.875rem;
}

.select2-container .select2-selection--single {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  height: 2.0625rem;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  display: block;
  padding-left: 8px;
  padding-right: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.select2-container .select2-selection--single .select2-selection__clear {
  position: relative;
}

.select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered {
  padding-right: 8px;
  padding-left: 20px;
}

.select2-container .select2-selection--multiple {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  min-height: 32px;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
  display: inline-block;
  overflow: hidden;
  padding-left: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.select2-container .select2-search--inline {
  float: left;
}

.select2-container .select2-search--inline .select2-search__field {
  box-sizing: border-box;
  border: none;
  font-size: 100%;
  margin-top: 5px;
  outline: none;
  padding: 0;
}

.select2-container .select2-search--inline .select2-search__field::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.select2-search__field:focus {
  outline: none;
}

.select2-dropdown {
  background-color: white;
  border: 1px solid #F0F0F0;
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
  position: absolute;
  left: -100000px;
  width: 100%;
  z-index: 1051;
}

.select2-results {
  display: block;
  color: #808080;
}

.select2-results__options {
  list-style: none;
  margin: 0;
  padding: 0;
}

.select2-results__option {
  padding: 6px;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}

.select2-results__option[aria-selected] {
  cursor: pointer;
}

.select2-container--open .select2-dropdown {
  left: 0;
}

.select2-container--open .select2-dropdown--above {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.select2-container--open .select2-dropdown--below {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.select2-search--dropdown {
  display: block;
  padding: 4px;
}

.select2-search--dropdown .select2-search__field {
  padding: 4px;
  width: 100%;
  box-sizing: border-box;
}

.select2-search--dropdown .select2-search__field::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.select2-search--dropdown.select2-search--hide {
  display: none;
}

.select2-close-mask {
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  opacity: 0;
  z-index: 99;
  background-color: #fff;
  filter: alpha(opacity=0);
}

.select2-hidden-accessible {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}

.select2-container--default .select2-selection--single {
  background-color: #fff;
  border: 2px solid #F0F0F0;
  border-radius: 4px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #808080;
  line-height: 2.0625rem;
}

.select2-container--default .select2-selection--single .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: #999;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 2.0625rem;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 20px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: #888 transparent transparent transparent;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  height: 0;
  left: 50%;
  margin-left: -4px;
  margin-top: -2px;
  position: absolute;
  top: 50%;
  width: 0;
}

.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__clear {
  float: left;
}

.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__arrow {
  left: 1px;
  right: auto;
}

.select2-container--default.select2-container--disabled .select2-selection--single {
  background-color: #eee;
  cursor: default;
}

.select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__clear {
  display: none;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #888 transparent;
  border-width: 0 4px 5px 4px;
}

.select2-container--default .select2-selection--multiple {
  background-color: white;
  border: 1px solid #F0F0F0;
  border-radius: 4px;
  cursor: text;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 3px 5px;
  width: 100%;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered li {
  list-style: none;
}

.select2-container--default .select2-selection--multiple .select2-selection__placeholder {
  color: #999;
  margin-top: 5px;
  float: left;
}

.select2-container--default .select2-selection--multiple .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
  margin-top: 5px;
  margin-right: 10px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #e4e4e4;
  border: 1px solid #F0F0F0;
  border-radius: 4px;
  cursor: default;
  float: left;
  margin-right: 5px;
  margin-top: 5px;
  padding: 0 5px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  color: #999;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  margin-right: 2px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
  color: #333;
}

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice, .select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__placeholder, .select2-container--default[dir="rtl"] .select2-selection--multiple .select2-search--inline {
  float: right;
}

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
  margin-left: 5px;
  margin-right: auto;
}

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
  margin-left: 2px;
  margin-right: auto;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  /*border: solid black 1px;*/
  outline: 0;
}

.select2-container--default.select2-container--disabled .select2-selection--multiple {
  background-color: #eee;
  cursor: default;
}

.select2-container--default.select2-container--disabled .select2-selection__choice__remove {
  display: none;
}

.select2-container--default.select2-container--open.select2-container--above .select2-selection--single, .select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid #aaa;
}

.select2-container--default .select2-search--inline .select2-search__field {
  background: transparent;
  border: none;
  outline: 0;
  box-shadow: none;
  -webkit-appearance: textfield;
}

.select2-container--default .select2-results > .select2-results__options {
  max-height: 200px;
  overflow-y: auto;
}

.select2-container--default .select2-results__option[role=group] {
  padding: 0;
}

.select2-container--default .select2-results__option[aria-disabled=true] {
  color: #999;
}

.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #39A9DC;
  color: #fff;
}

.select2-container--default .select2-results__option .select2-results__option {
  padding-left: 1em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__group {
  padding-left: 0;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -1em;
  padding-left: 2em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -2em;
  padding-left: 3em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -3em;
  padding-left: 4em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -4em;
  padding-left: 5em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -5em;
  padding-left: 6em;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #F0F0F0;
  color: #000;
}

.select2-container--default .select2-results__group {
  cursor: default;
  display: block;
  padding: 6px;
}

.select2-container--classic .select2-selection--single {
  background-color: #f7f7f7;
  border: 1px solid #F0F0F0;
  border-radius: 4px;
  outline: 0;
  background-image: -webkit-linear-gradient(top, white 50%, #eeeeee 100%);
  background-image: linear-gradient(to bottom, white 50%, #eeeeee 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0);
}

.select2-container--classic .select2-selection--single:focus {
  border: 1px solid #5897fb;
}

.select2-container--classic .select2-selection--single .select2-selection__rendered {
  color: #F0F0F0;
  line-height: 28px;
}

.select2-container--classic .select2-selection--single .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
  margin-right: 10px;
}

.select2-container--classic .select2-selection--single .select2-selection__placeholder {
  color: #999;
}

.select2-container--classic .select2-selection--single .select2-selection__arrow {
  background-color: #ddd;
  border: none;
  border-left: 1px solid #F0F0F0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  height: 26px;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 20px;
  background-image: -webkit-linear-gradient(top, #eeeeee 50%, #cccccc 100%);
  background-image: linear-gradient(to bottom, #eeeeee 50%, #cccccc 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFCCCCCC', GradientType=0);
}

.select2-container--classic .select2-selection--single .select2-selection__arrow b {
  border-color: #888 transparent transparent transparent;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  height: 0;
  left: 50%;
  margin-left: -4px;
  margin-top: -2px;
  position: absolute;
  top: 50%;
  width: 0;
}

.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__clear {
  float: left;
}

.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__arrow {
  border: none;
  border-right: 1px solid #aaa;
  border-radius: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  left: 1px;
  right: auto;
}

.select2-container--classic.select2-container--open .select2-selection--single {
  border: 1px solid #5897fb;
}

.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow {
  background: transparent;
  border: none;
}

.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #888 transparent;
  border-width: 0 4px 5px 4px;
}

.select2-container--classic.select2-container--open.select2-container--above .select2-selection--single {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-image: -webkit-linear-gradient(top, white 0%, #eeeeee 50%);
  background-image: linear-gradient(to bottom, white 0%, #eeeeee 50%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0);
}

.select2-container--classic.select2-container--open.select2-container--below .select2-selection--single {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-image: -webkit-linear-gradient(top, #eeeeee 50%, white 100%);
  background-image: linear-gradient(to bottom, #eeeeee 50%, white 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFFFFFFF', GradientType=0);
}

.select2-container--classic .select2-selection--multiple {
  background-color: white;
  border: 1px solid #F0F0F0;
  border-radius: 4px;
  cursor: text;
  outline: 0;
}

.select2-container--classic .select2-selection--multiple:focus {
  border: 1px solid #5897fb;
}

.select2-container--classic .select2-selection--multiple .select2-selection__rendered {
  list-style: none;
  margin: 0;
  padding: 0 5px;
}

.select2-container--classic .select2-selection--multiple .select2-selection__clear {
  display: none;
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice {
  background-color: #e4e4e4;
  border: 1px solid #F0F0F0;
  border-radius: 4px;
  cursor: default;
  float: left;
  margin-right: 5px;
  margin-top: 5px;
  padding: 0 5px;
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove {
  color: #888;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  margin-right: 2px;
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove:hover {
  color: #555;
}

.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
  float: right;
}

.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
  margin-left: 5px;
  margin-right: auto;
}

.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
  margin-left: 2px;
  margin-right: auto;
}

.select2-container--classic.select2-container--open .select2-selection--multiple {
  border: 1px solid #5897fb;
}

.select2-container--classic.select2-container--open.select2-container--above .select2-selection--multiple {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.select2-container--classic.select2-container--open.select2-container--below .select2-selection--multiple {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.select2-container--classic .select2-search--dropdown .select2-search__field {
  border: 1px solid #F0F0F0;
  outline: 0;
}

.select2-container--classic .select2-search--inline .select2-search__field {
  outline: 0;
  box-shadow: none;
}

.select2-container--classic .select2-dropdown {
  background-color: white;
  border: 1px solid transparent;
}

.select2-container--classic .select2-dropdown--above {
  border-bottom: none;
}

.select2-container--classic .select2-dropdown--below {
  border-top: none;
}

.select2-container--classic .select2-results > .select2-results__options {
  max-height: 300px;
  overflow-y: auto;
}

.select2-container--classic .select2-results__option[role=group] {
  padding: 0;
}

.select2-container--classic .select2-results__option[aria-disabled=true] {
  color: grey;
}

.select2-container--classic .select2-results__option--highlighted[aria-selected] {
  background-color: #3875d7;
  color: white;
}

.select2-container--classic .select2-results__group {
  cursor: default;
  display: block;
  padding: 6px;
}

.select2-container--classic.select2-container--open .select2-dropdown {
  border-color: #5897fb;
}

.birthday {
  height: 100%;
}

.birthday__item {
  position: relative;
}

.birthday__item:hover .birthday__image {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.birthday__item:hover .birthday__name-wrap {
  opacity: 1;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.birthday__name-wrap {
  position: absolute;
  left: 0;
  z-index: 11;
  top: 30%;
  width: 100%;
  opacity: 0;
}

.birthday__name {
  padding: 0rem 1.25rem;
  display: block;
  text-align: center;
  color: #fff;
}

.birthday__name:hover {
  text-decoration: none;
}

.birthday__image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.birthday__link {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
  height: 100%;
  width: 100%;
}

.birthday__title-wrap {
  display: table;
  width: 100%;
  min-height: 3.75rem;
  vertical-align: middle;
}

.birthday__content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 3.75rem;
  padding: 0rem 1.8125rem;
  color: #fff;
  background-color: rgba(14, 60, 98, 0.8);
  text-align: center;
}

.birthday__content h3 {
  margin: 0;
  display: table-cell;
  vertical-align: middle;
  font-size: 1.125rem;
  color: #fff;
}

.birthday .slick-arrow {
  position: absolute;
  bottom: 0.875rem;
  z-index: 2;
  height: 1.875rem;
  width: 1.875rem;
  font-size: 0;
  border: none;
  background-color: transparent;
  outline: none;
}

.birthday .slick-arrow::before {
  content: '';
}

.birthday .slick-prev {
  left: 0.3125rem;
}

.birthday .slick-prev::before {
  height: 0;
  width: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 7px;
  border-right-color: #fff;
}

.birthday .slick-prev:hover:before {
  border-right-color: rgba(128, 128, 128, 0.8);
}

.birthday .slick-next {
  right: 0.3125rem;
}

.birthday .slick-next::before {
  height: 0;
  width: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 7px;
  border-left-color: #fff;
}

.birthday .slick-next:hover:before {
  border-left-color: rgba(128, 128, 128, 0.8);
}

.bread-crumbs {
  margin-bottom: 1.0625rem;
  color: #808080;
  font-size: 0.8125rem;
}

.bread-crumbs__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.bread-crumbs__item {
  display: inline-block;
  vertical-align: top;
}

.bread-crumbs__link {
  color: inherit;
}

.bread-crumbs__link:hover {
  text-decoration: none;
}

.bread-crumbs__separator {
  margin-left: 0.25rem;
}

.btn {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 0.5rem 0.9375rem 0.375rem 2.1875rem;
  margin: 0 0.9375rem 0rem 0;
  border: none;
  font-size: 0.875rem;
  background-color: #27aae1;
  border-radius: 1.875rem;
  color: #fff;
  -webkit-transition: background .3s;
  transition: background .3s;
}

.btn:hover {
  background-color: #DA002E;
}

.btn::before {
  position: absolute;
  left: 0.625rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-family: glyphicons;
  font-size: 1.375rem;
  content: '\e084';
  color: #fff;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.btn-follow {
  position: relative;
  border: 0.125rem solid #F0F0F0;
  padding: 0.4375rem 0.625rem 0.4375rem 2.0625rem;
  border-radius: 0.25rem;
  color: #808080;
  background-color: #fff;
  font-size: 0.875rem;
  text-align: center;
  cursor: pointer;
}

.btn-follow::before {
  position: absolute;
  left: 0.375rem;
  top: 0.1875rem;
  margin-top: 0.1875rem;
  font-family: glyphicons;
  content: '\e013';
  font-size: 1rem;
  font-weight: bold;
  color: #808080;
  border-radius: 50%;
  text-align: center;
}

.btn-follow::after {
  position: absolute;
  left: 1.875rem;
  top: 0;
  height: 100%;
  border-right: 0.125rem solid #F0F0F0;
  content: '';
}

.btn-follow_followed::before {
  content: '\e014';
}

.btn-grid-filter {
  position: relative;
  z-index: 2;
  width: 4.375rem;
  height: 2.0625rem;
  border: 0.125rem solid #F0F0F0;
  border-radius: 0.25rem;
  font-size: 0;
  overflow: hidden;
}

.btn-grid-filter__item {
  position: relative;
  width: 50%;
  height: 100%;
  display: inline-block;
  border: none;
  cursor: pointer;
  background: transparent;
}

.btn-grid-filter__item:first-of-type {
  border-right: 0.125rem solid #F0F0F0;
}

.btn-grid-filter__item_active {
  background-color: rgba(128, 128, 128, 0.3);
}

.btn-grid-filter__decor-square::before, .btn-grid-filter__decor-square::after {
  position: absolute;
  width: 0.3125rem;
  height: 0.25rem;
  background-color: #808080;
  content: '';
}

.btn-grid-filter__decor-square_top::before {
  left: 0.5rem;
  top: 0.5rem;
}

.btn-grid-filter__decor-square_top::after {
  right: 0.5rem;
  top: 0.5rem;
}

.btn-grid-filter__decor-square_bottom::before {
  left: 0.5rem;
  bottom: 0.5rem;
}

.btn-grid-filter__decor-square_bottom::after {
  right: 0.5rem;
  bottom: 0.5rem;
}

.btn-grid-filter__decor-line {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 1rem;
  height: 0.125rem;
  background-color: #808080;
}

.btn-grid-filter__decor-line::before, .btn-grid-filter__decor-line::after {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 1rem;
  height: 0.125rem;
  background-color: #808080;
  content: '';
}

.btn-grid-filter__decor-line::before {
  top: 0.4375rem;
}

.btn-grid-filter__decor-line::after {
  bottom: 0.3125rem;
}

.btn-more-news {
  float: left;
  padding: 0 1.125rem;
  border: 0.125rem solid #F0F0F0;
  height: 1.875rem;
  border-radius: 0.3125rem;
  font-size: 0.875rem;
  color: #808080;
  background-color: #fff;
  line-height: 1.875rem;
}

.btn-more-news:hover {
  -webkit-transition: all .3s;
  transition: all .3s;
  background-color: rgba(188, 190, 192, 0.3);
}

.calendar {
  padding: 1.1875rem;
  height: 100%;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.calendar:hover .calendar__header {
  color: #DA002E;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.calendar__header {
  margin: 0 0 1.875rem;
  display: block;
  color: #39A9DC;
  font-size: 1.1875rem;
  text-transform: uppercase;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.calendar__header:hover {
  text-decoration: none;
}

.calendar__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.calendar__item {
  margin-bottom: 1.6875rem;
  font-size: 1.0625rem;
  font-weight: 300;
  color: #808080;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.calendar__item:hover {
  color: #202020;
}

.calendar__item:hover .calendar__date {
  color: #808080;
}

.calendar__link {
  display: block;
  color: inherit;
}

.calendar__link:hover {
  text-decoration: none;
}

.calendar__date {
  display: block;
  margin-bottom: 0.9375rem;
}

.comments {
  font-size: 0.9375rem;
}

.comments__title {
  margin-bottom: 1.875rem;
  color: #39A9DC;
  font-size: 1.125rem;
  font-weight: 800;
}

.comments__item {
  position: relative;
  padding: 1.25rem 0.625rem;
  border: 0.125rem solid #F0F0F0;
  margin-bottom: 1.5625rem;
  border-radius: 0.3125rem;
}

.comments__item_anser {
  border: none;
  margin: 0.9375rem 0 0 0.9375rem;
  padding-bottom: 0;
  padding-right: 0;
}

.comments__item_anser .comments__text {
  margin-top: 0.3125rem;
}

.comments__item_anser .comments__btn-anser {
  top: 1.9375rem;
  right: 0.875rem;
}

.comments__date {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  font-size: 0.8125rem;
}

.comments__name {
  display: inline-block;
  vertical-align: top;
  color: #39A9DC;
  font-size: 0.8125rem;
}

.comments__name:hover {
  text-decoration: none;
}

.comments__text-wrap {
  margin-left: 0.5rem;
}

.comments__text {
  position: relative;
  margin-top: 1.125rem;
  padding: 0.9375rem 0.5rem;
  border: 0.125rem solid #F0F0F0;
  border-radius: 0.3125rem;
  background-color: #F0F0F0;
}

.comments__btn-anser {
  position: absolute;
  top: 2.6875rem;
  right: 1.5625rem;
  padding: 0.3125rem;
  border: none;
  font-size: 0.75rem;
  color: #fff;
  background-color: #808080;
  border-radius: 0.3125rem;
  -webkit-transition: color .3s, background .3s;
  transition: color .3s, background .3s;
}

.comments__btn-anser:hover {
  color: #f2f2f2;
  background-color: #858585;
}

.comments__entry-fiend {
  width: 100%;
  padding: 0.625rem;
  border: 0.125rem solid #F0F0F0;
  min-height: 6.25rem;
  margin-bottom: 0.9375rem;
  color: #808080;
  border-radius: 0.3125rem;
  resize: none;
}

.comments__btn {
  padding: 0.5rem;
  border: 0.125rem solid #F0F0F0;
  margin-bottom: 0.9375rem;
  color: #808080;
  background-color: transparent;
  border-radius: 0.3125rem;
  -webkit-transition: background .3s;
  transition: background .3s;
}

.comments__btn:hover {
  background-color: #F0F0F0;
}

.content {
  margin: 0.9375rem -0.25rem 0rem;
}

.content__col-2-of-3 {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0.25rem;
}

.content__col-1-of-6 {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 0.25rem;
}

.content__item {
  margin-bottom: 0.5rem;
  height: 228px;
}

.content__item_2x {
  height: 466px;
}

.content-idea {
  float: right;
  overflow: hidden;
  width: 75%;
}

.content-idea:before, .content-idea:after {
  display: table;
  content: "";
}

.content-idea:after {
  clear: both;
}

.lt-ie8 .content-idea {
  zoom: 1;
}

.content-idea__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 1.25rem;
}

.content-idea__follow {
  margin-right: 1.875rem;
  min-width: 9.375rem;
}

.content-ideas {
  overflow: hidden;
  margin-right: 19.6875rem;
  margin-left: 17.5rem;
}

.content-ideas:before, .content-ideas:after {
  display: table;
  content: "";
}

.content-ideas:after {
  clear: both;
}

.lt-ie8 .content-ideas {
  zoom: 1;
}

.content-ideas h1 {
  margin: 0 0 1.125rem;
  font-size: 1.5rem;
}

.content-ideas .search,
.content-ideas .filter__btn-wrap,
.content-ideas .btn-follow {
  min-width: 30%;
}

.content-news {
  float: right;
  overflow: hidden;
  width: 75%;
}

.content-news:before, .content-news:after {
  display: table;
  content: "";
}

.content-news:after {
  clear: both;
}

.lt-ie8 .content-news {
  zoom: 1;
}

.content-news h1 {
  margin: 0 0 1.125rem;
  font-size: 1.5rem;
}

.content-news .news-item:nth-child(even) {
  margin: 0 0 0.5rem 0;
}

.content-news__footer {
  float: left;
  width: 100%;
  padding: 2.25rem 0 3.25rem 0;
}

.content-news__footer:before, .content-news__footer:after {
  display: table;
  content: "";
}

.content-news__footer:after {
  clear: both;
}

.lt-ie8 .content-news__footer {
  zoom: 1;
}

.content-section {
  float: right;
  width: 75%;
  padding-bottom: 4.5625rem;
}

.content-section h1 {
  margin-bottom: 0.875rem;
  color: #202020;
}

.content-structure {
  float: right;
  width: 80%;
  padding-bottom: 4.5625rem;
}

.content-structure h1 {
  margin: 0 0 0.875rem;
  color: #202020;
}

.date {
  position: relative;
  white-space: nowrap;
  font-size: 2.875rem;
  color: #202020;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.date__month {
  display: inline-block;
  vertical-align: top;
  margin-top: 0.4375rem;
  font-size: 1.375rem;
}

.date__year {
  position: relative;
  bottom: -0.25rem;
  margin-left: -1.25rem;
  font-size: 0.875rem;
}

.date__time {
  margin-left: 0.5rem;
  margin-top: -0.3125rem;
  display: inline-block;
  vertical-align: middle;
  font-size: 0.8125rem;
}

.date-filter {
  position: relative;
  color: #808080;
}

.date-filter:hover .date-filter__inner {
  -webkit-transition: all .3s;
  transition: all .3s;
  display: block;
}

.date-filter__btn {
  position: relative;
  padding: 0.4375rem 1.5625rem 0.4375rem 0.625rem;
  border: 0.125rem solid #F0F0F0;
  font-size: 0.875rem;
  background-color: #fff;
  border-radius: 0.3125rem;
}

.date-filter__btn::before {
  position: absolute;
  right: 0.625rem;
  top: 50%;
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
  height: 0;
  width: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 4.5px;
  border-top-color: #808080;
  content: '';
  -webkit-transition: all .3s;
  transition: all .3s;
}

.date-filter__inner {
  position: absolute;
  right: 0;
  top: 2.5rem;
  z-index: 10;
  -webkit-transform: translateX(9999px);
          transform: translateX(9999px);
  border: 0.125rem solid #F0F0F0;
  background-color: #fff;
  border-radius: 0.625rem;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.date-filter__inner_open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.date-filter__slider-wrap {
  width: 14.375rem;
  padding: 1.375rem 1.375rem 0.9375rem 1.375rem;
  font-size: 0.875rem;
}

.date-filter__year {
  margin-bottom: 1.1875rem;
  color: #39A9DC;
  text-align: center;
  font-weight: 600;
}

.date-filter__month:before, .date-filter__month:after {
  display: table;
  content: "";
}

.date-filter__month:after {
  clear: both;
}

.lt-ie8 .date-filter__month {
  zoom: 1;
}

.date-filter__month-label {
  float: left;
  margin-bottom: 0.375rem;
}

.date-filter__month-label:nth-of-type(odd) {
  margin-right: 0.4375rem;
}

.date-filter__month-item {
  width: 5.25rem;
  display: block;
  border: 0.125rem solid #F0F0F0;
  padding: 0.5625rem 0.6875rem;
  text-align: center;
  border-radius: 0.625rem;
  cursor: pointer;
}

.date-filter__month-item:hover {
  background-color: rgba(128, 128, 128, 0.3);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.date-filter__month-checkbox {
  display: none;
}

.date-filter__month-checkbox:checked + .date-filter__month-item {
  border: 0.125rem solid #39A9DC;
  background-color: #39A9DC;
  color: #fff;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.date-filter__btn-choose {
  width: 100%;
  padding: 0.5625rem;
  border: none;
  background-color: #DA002E;
  color: #fff;
  border-radius: 0.625rem;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.date-filter__btn-choose:hover {
  background-color: #ff0e41;
}

.date-filter .slick-arrow {
  position: absolute;
  top: -0.375rem;
  z-index: 2;
  font-size: 0;
  border: none;
  background: transparent;
  width: 1.875rem;
  height: 1.875rem;
}

.date-filter .slick-arrow::before {
  display: inline-block;
  content: '';
}

.date-filter .slick-prev {
  left: 1.875rem;
}

.date-filter .slick-prev::before {
  height: 0;
  width: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 4.5px;
  border-right-color: #808080;
}

.date-filter .slick-prev:hover::before {
  border-right-color: #39A9DC;
}

.date-filter .slick-next {
  right: 1.875rem;
}

.date-filter .slick-next::before {
  height: 0;
  width: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 4.5px;
  border-left-color: #808080;
}

.date-filter .slick-next:hover::before {
  border-left-color: #39A9DC;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1.25rem;
}

.filter__search {
  max-width: 12.5rem;
  min-width: 1px;
}

.filter__follow {
  width: 9.375rem;
}

.filter__btn-wrap {
  position: relative;
}

.filter__btn {
  position: relative;
  border: 0.125rem solid #F0F0F0;
  width: 100%;
  padding: 0.4375rem 0.625rem 0.4375rem 2.0625rem;
  border-radius: 0.25rem;
  color: #808080;
  background-color: #fff;
  font-size: 0.875rem;
  text-align: center;
  cursor: pointer;
}

.filter__btn::before {
  position: absolute;
  left: 0.375rem;
  top: 0.1875rem;
  margin-top: 0.1875rem;
  font-family: glyphicons;
  content: '\e086';
  font-size: 1rem;
  font-weight: bold;
  color: #808080;
  border-radius: 50%;
  text-align: center;
}

.filter__btn::after {
  position: absolute;
  left: 1.875rem;
  top: 0;
  height: 100%;
  border-right: 0.125rem solid #F0F0F0;
  content: '';
}

.form-structure__label {
  display: inline-block;
  vertical-align: top;
  width: 22%;
  margin: 0 0.9375rem 0.9375rem 0;
}

.form-structure .select2 {
  margin: 0 0.9375rem 0.9375rem 0;
}

.form-structure__input {
  width: 100%;
  border: 0.0625rem solid #F0F0F0;
  padding: 0.5rem 0.625rem 0.375rem;
  border-radius: 0.3125rem;
  font-size: 0.875rem;
  color: #808080;
}

.form-structure__label-checkbox {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding-left: 1.5625rem;
  margin: 0.4375rem 0.9375rem 0.9375rem 0;
  font-size: 0.875rem;
  color: #808080;
  cursor: pointer;
}

.form-structure__label-checkbox::before {
  position: absolute;
  left: 0;
  width: 1.125rem;
  height: 1.125rem;
  border: 0.0625rem solid;
  border-radius: 0.3125rem;
  content: '';
}

.form-structure__label-checkbox::after {
  position: absolute;
  left: 0.1875rem;
  top: 0.125rem;
  opacity: 0;
  font-size: 0.75rem;
  font-family: glyphicons;
  content: '\e013';
}

.form-structure__label-checkbox:hover .interview__label-text {
  color: #DA002E;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.form-structure__checkbox {
  display: none;
}

.form-structure__checkbox:checked + .form-structure__label-checkbox:after {
  opacity: 1;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.form-structure__btn {
  min-width: 22%;
}

.grid {
  overflow: hidden;
}

.grid__item {
  width: 14.0625rem;
  height: 15rem;
  border: 1px solid #F0F0F0;
}

.grid__item_height-2x {
  height: 30.5rem;
}

.grid__item_width-3x {
  width: 42.8125rem;
}

.grid__item_width-2x {
  width: 28.1875rem;
}

.header-top {
  padding-bottom: 1.75rem;
  font-family: PFBeauSansPro, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header-top__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top__menu {
  margin-top: 1.75rem;
}

.header-top__search {
  min-width: 22.25rem;
}

.header-top__notification {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #58595b;
  font-size: 0.875rem;
}

.header-top__notification-phone, .header-top__notification-message {
  position: relative;
  cursor: pointer;
}

.header-top__notification-phone::before, .header-top__notification-message::before {
  font-family: glyphicons;
  font-size: 2.3125rem;
}

.header-top__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 16.25rem;
  margin-right: 3.6875rem;
  text-align: left;
  font-size: 0.875rem;
  text-decoration: none;
  color: inherit;
}

.header-top__user:hover {
  text-decoration: none;
}

.header-top__user-avatar {
  margin-right: 0.625rem;
  display: block;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
}

.header-top__user-avatar-img {
  width: 100%;
}

.header-top__notification-phone {
  margin-right: 2.125rem;
}

.header-top__notification-phone::before {
  content: '\e183';
}

.header-top__notification-message::before {
  content: '\e123';
}

.header-top__notification-count {
  position: absolute;
  top: 0.375rem;
  right: -0.375rem;
  width: 1.4375rem;
  height: 1.4375rem;
  border: 1px solid #fff;
  color: #fff;
  background-color: #DA002E;
  font-size: 0.6875rem;
  line-height: 1.4375rem;
  font-weight: 700;
  border-radius: 50%;
  text-align: center;
}

.idea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.idea__user {
  width: 20%;
  padding: 0.625rem;
  color: #808080;
  font-size: 0.875rem;
  text-align: center;
}

.idea__avatar {
  border: 0.0625rem solid #F0F0F0;
  padding: 0.3125rem;
  margin-bottom: 0.3125rem;
}

.idea__name {
  display: block;
  padding: 0.4375rem;
  color: #DA002E;
  border-radius: 0.3125rem;
  -webkit-transition: background .3s;
  transition: background .3s;
}

.idea__name:hover {
  background-color: #F0F0F0;
  text-decoration: none;
}

.idea__rang {
  font-size: 0.75rem;
}

.idea__content {
  width: 79%;
}

.idea__comments {
  width: 100%;
}

.idea__info {
  width: 100%;
  margin-bottom: 2.5rem;
  font-size: 0.9375rem;
}

.idea__info p {
  color: inherit;
}

.idea__row:before, .idea__row:after {
  display: table;
  content: "";
}

.idea__row:after {
  clear: both;
}

.lt-ie8 .idea__row {
  zoom: 1;
}

.idea__label {
  float: left;
  width: 12.5rem;
  padding: 0.5rem 0;
  font-weight: 800;
}

.idea__disc {
  padding: 0.5rem 0;
  min-height: 2.125rem;
  border-bottom: 0.125rem solid #F0F0F0;
  overflow: hidden;
}

.ideas {
  float: right;
  width: 18.75rem;
  padding: 1.375rem 1.375rem 0.9375rem 1.375rem;
  border: 0.125rem solid #F0F0F0;
  font-size: 0.875rem;
  color: #808080;
  border-radius: 0.625rem;
  background-color: #fff;
}

.ideas__link {
  display: inline-block;
  vertical-align: top;
  padding: 0.375rem 0.625rem;
  margin: 0.3125rem 0;
  color: #39A9DC;
  border-radius: 0.3125rem;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.ideas__link:hover {
  background-color: #F0F0F0;
  text-decoration: none;
}

.ideas__link_bold {
  font-weight: 800;
}

.ideas__link_title {
  display: block;
  padding: 0.625rem;
  color: #DA002E;
  text-align: center;
  background-color: #F0F0F0;
}

.ideas__list {
  margin: 0 0 1.875rem 0.625rem;
  padding: 0;
  list-style-type: none;
}

.ideas__list a {
  display: block;
  padding-left: 1.875rem;
  margin: 0;
  color: inherit;
}

.ideas__item {
  position: relative;
}

.ideas__item::before {
  position: absolute;
  left: 0.25rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 0.9375rem;
  font-family: glyphicons;
  content: '\2212';
  pointer-events: none;
}

.ideas__label {
  position: relative;
  display: block;
  padding-left: 1.5625rem;
  margin: 0.4375rem 0.9375rem 0.9375rem 0;
  font-size: 0.875rem;
  color: #808080;
  cursor: pointer;
}

.ideas__label::before {
  position: absolute;
  left: 0;
  width: 1.125rem;
  height: 1.125rem;
  border: 0.0625rem solid;
  border-radius: 0.3125rem;
  content: '';
}

.ideas__label::after {
  position: absolute;
  left: 0.1875rem;
  top: 0.125rem;
  opacity: 0;
  font-size: 0.75rem;
  font-family: glyphicons;
  content: '\e013';
}

.ideas__checkbox {
  display: none;
}

.ideas__checkbox:checked + .ideas__label:after {
  opacity: 1;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.interview {
  padding: 1.25rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.interview:hover .interview__header {
  color: #DA002E;
}

.interview__header {
  margin: 0 0 1.9375rem 0;
  color: #39A9DC;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.interview__question {
  margin-bottom: 1.3125rem;
  color: #202020;
  font-size: 1.125rem;
}

.interview__hide {
  display: none;
}

.interview__label {
  position: relative;
  display: block;
  padding-left: 1.5625rem;
  margin-bottom: 0.8125rem;
  font-size: 0.875rem;
  color: #808080;
  cursor: pointer;
}

.interview__label::before {
  position: absolute;
  left: 0;
  width: 1.125rem;
  height: 1.125rem;
  border: 0.0625rem solid;
  border-radius: 50%;
  content: '';
}

.interview__label::after {
  position: absolute;
  left: 0.3125rem;
  top: 0.3125rem;
  width: 0.5rem;
  height: 0.5rem;
  opacity: 0;
  border-radius: 50%;
  background-color: #DA002E;
  content: '';
}

.interview__label:hover .interview__label-text {
  color: #DA002E;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.interview__radio {
  display: none;
}

.interview__radio:checked + .interview__label:after {
  opacity: 1;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.interview__btn-wrap {
  margin-left: -0.6875rem;
}

.interview__btn {
  position: relative;
  display: block;
  margin: auto;
  min-width: 8.5625rem;
  padding: 0.625rem 0.625rem 0.625rem 2.0625rem;
  border: none;
  font-size: 1.125rem;
  background-color: #27aae1;
  border-radius: 1.875rem;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.interview__btn:hover {
  background-color: #DA002E;
}

.interview__btn:hover::before {
  color: #DA002E;
}

.interview__btn::before {
  position: absolute;
  left: 0.1875rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: inline-block;
  vertical-align: middle;
  width: 1.625rem;
  height: 1.625rem;
  background-color: #fff;
  font-family: glyphicons;
  content: '\e013';
  color: #27aae1;
  border-radius: 50%;
  text-align: center;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.logo {
  display: block;
}

.main-nav {
  position: relative;
  border-bottom: 2px solid #e1e0df;
  background: -webkit-linear-gradient(bottom, #f6f4f4, #e1e0df);
  background: linear-gradient(to top, #f6f4f4, #e1e0df);
}

.main-nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.main-nav a {
  display: block;
  text-decoration: none;
}

.main-nav a:hover {
  text-decoration: none;
}

.main-nav .container {
  overflow: inherit;
}

.main-nav__list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-nav__item {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
  border-right: 0.125rem solid #dadbdb;
  border-top: 0.25rem solid transparent;
  text-align: center;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.main-nav__item:first-of-type {
  border-left: 0.125rem solid #dadbdb;
}

.main-nav__item:hover {
  border-top: 0.25rem solid #DA002E;
  background-color: #fff;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.main-nav__item:hover .main-nav__submenu {
  height: auto;
}

.main-nav__item:hover .main-nav__link::before {
  position: absolute;
  left: 0;
  bottom: -0.1875rem;
  z-index: 21;
  width: 100%;
  height: 0.625rem;
  background-color: #fff;
  content: '';
}

.main-nav__link {
  padding-top: 1.1875rem;
  padding-bottom: 0.9375rem;
  position: relative;
  display: block;
  font-size: 1rem;
  color: #58595b;
  font-weight: 600;
  text-decoration: none;
}

.main-nav__link:focus, .main-nav__link:hover, .main-nav__link:visited {
  text-decoration: none;
  color: #58595b;
}

.main-nav__submenu {
  position: absolute;
  z-index: 20;
  top: 3.375rem;
  left: -0.125rem;
  height: 0;
  overflow: hidden;
  -webkit-transition: all 5s;
  transition: all 5s;
}

.main-nav__submenu_right {
  right: 0;
  left: auto;
}

.main-nav__submenu-wrap {
  display: inline-block;
  vertical-align: top;
  max-width: 1155px;
}

.menu-left {
  float: left;
  width: 22%;
  color: #808080;
}

.menu-left a {
  display: block;
  position: relative;
  z-index: 9;
}

.menu-left a:hover {
  text-decoration: none;
  background-color: #F0F0F0;
}

.menu-left li {
  position: relative;
  z-index: 2;
}

.menu-left_structure {
  width: 18%;
  font-size: 0.75rem;
}

.menu-left_structure li {
  border-bottom: 0.125rem solid #dadbdb;
}

.menu-left_structure .menu-left__list ul {
  display: none;
}

.menu-left_structure .menu-left__item_active a:before {
  display: none;
}

.menu-left_structure .menu-left__item:hover .menu-left__link::before {
  display: none;
}

.menu-left_structure .menu-left__item_dropdown::before,
.menu-left_structure .menu-left__submenu-2lvl-item_dropdown::before {
  display: none;
}

.menu-left_structure .menu-left__submenu-2lvl-item_dropdown:hover .menu-left__submenu-3lvl {
  display: none;
}

.menu-left_structure .menu-left__link {
  padding: 0.625rem 0.9375rem 0.625rem 1.125rem;
  border: none;
  font-size: 0.75rem;
  text-transform: capitalize;
}

.menu-left_structure .menu-left__submenu-2lvl-link {
  padding: 0.625rem 0.625rem 0.625rem 1.375rem;
  font-size: 0.75rem;
  text-transform: capitalize;
}

.menu-left_structure .menu-left__submenu-2lvl-item .menu-left__plus {
  top: 0.5rem;
  left: 0rem;
}

.menu-left_structure .menu-left__submenu-3lvl-item .menu-left__plus {
  left: 0.5rem;
}

.menu-left_structure .menu-left__submenu-4lvl-item .menu-left__plus {
  left: 1rem;
}

.menu-left_structure .menu-left__submenu-5lvl-item .menu-left__plus {
  left: 1.5rem;
}

.menu-left_structure .menu-left__submenu-3lvl-link {
  padding: 0.625rem 0.625rem 0.625rem 2rem;
  font-size: 0.75rem;
  font-weight: 400;
}

.menu-left_structure .menu-left__submenu-4lvl-link {
  padding: 0.625rem 0.625rem 0.625rem 2.625rem;
  font-size: 0.75rem;
}

.menu-left_structure .menu-left__submenu-5lvl-link {
  padding: 0.625rem 0.625rem 0.625rem 3.25rem;
  font-size: 0.75rem;
}

.menu-left_structure .menu-left__submenu-3lvl {
  position: static;
  padding: 0;
  width: auto;
  border: none;
}

.menu-left_structure .menu-left__submenu-2lvl {
  height: auto;
  visibility: visible;
  -webkit-transition: none;
  transition: none;
}

.menu-left__list {
  margin: 0;
  padding: 0;
  border-top: 0.125rem solid #dadbdb;
  list-style-type: none;
}

.menu-left__item {
  position: relative;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.menu-left__item:hover .menu-left__link::before {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  border-left: 4px solid;
  color: #DA002E;
  content: '';
}

.menu-left__item_dropdown {
  z-index: 8 !important;
}

.menu-left__item_dropdown:hover::before {
  -webkit-transform: rotate(-180deg) translateY(50%);
          transform: rotate(-180deg) translateY(50%);
}

.menu-left__item_dropdown:hover .menu-left__submenu-2lvl {
  position: relative;
  opacity: 1;
  height: 100%;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  pointer-events: auto;
}

.menu-left__item_dropdown::before {
  position: absolute;
  right: 0.625rem;
  top: 1.75rem;
  z-index: 10;
  pointer-events: none;
  height: 0;
  width: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 4.5px;
  border-top-color: #808080;
  content: '';
  -webkit-transition: all .3s;
  transition: all .3s;
}

.menu-left__item_active {
  z-index: 3 !important;
}

.menu-left__item_active::before {
  display: none;
}

.menu-left__item_active .menu-left__submenu-2lvl-item {
  z-index: 8 !important;
}

.menu-left__item_active .menu-left__link::before {
  position: absolute;
  z-index: 8;
  left: 0;
  top: 0;
  height: 100%;
  border-left: 4px solid;
  color: #DA002E;
  content: '';
}

.menu-left__item_active .menu-left__submenu-2lvl {
  position: relative;
  height: 100%;
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  pointer-events: auto;
}

.menu-left__link {
  position: relative;
  padding: 1.0625rem 1.25rem 1.0625rem 0.75rem;
  border-bottom: 0.125rem solid #dadbdb;
  text-transform: uppercase;
  font-size: 0.875rem;
  color: #202020;
  font-weight: 600;
  background-color: #fff;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.menu-left__link_active {
  background-color: #F0F0F0;
}

.menu-left__submenu-2lvl {
  position: absolute;
  z-index: 1;
  margin: 0;
  padding: 0;
  height: 0;
  font-size: 0.875rem;
  opacity: 0;
  pointer-events: none;
  list-style-type: none;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: opacity .1s, -webkit-transform .4s;
  transition: opacity .1s, -webkit-transform .4s;
  transition: transform .4s, opacity .1s;
  transition: transform .4s, opacity .1s, -webkit-transform .4s;
}

.menu-left__submenu-2lvl-item {
  border-bottom: 0.125rem solid #dadbdb;
  position: relative;
}

.menu-left__submenu-2lvl-item_dropdown:hover > .menu-left__submenu-3lvl {
  opacity: 1;
  z-index: 6;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-left__submenu-2lvl-item_dropdown::before {
  position: absolute;
  z-index: 12;
  right: 0.625rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 0;
  width: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 4.5px;
  border-left-color: #808080;
  content: '';
}

.menu-left__submenu-2lvl-link {
  display: block;
  padding: 1.0625rem 0.625rem 1.0625rem 1.5625rem;
  color: #808080;
  position: relative;
  z-index: 11;
  background-color: #fff;
}

.menu-left__submenu-3lvl {
  position: absolute;
  left: 16.3125rem;
  top: -0.125rem;
  z-index: -1;
  -webkit-transform: translateX(-999px);
          transform: translateX(-999px);
  opacity: 0;
  border: 0.125rem solid #dadbdb;
  padding: 1.0625rem 0 0.9375rem;
  margin: 0;
  width: 29.6875rem;
  list-style-type: none;
  background-color: #fff;
  -webkit-transition: opacity .2s, -webkit-transform .4s;
  transition: opacity .2s, -webkit-transform .4s;
  transition: transform .4s, opacity .2s;
  transition: transform .4s, opacity .2s, -webkit-transform .4s;
}

.menu-left__submenu-3lvl-link {
  padding: 0.375rem 0.625rem;
  color: #808080;
  font-size: 0.9375rem;
  font-weight: 600;
}

.menu-left__submenu-3lvl-link_active {
  background-color: #F0F0F0;
}

.menu-left__submenu-4lvl, .menu-left__submenu-5lvl {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menu-left__submenu-4lvl-link {
  padding: 0.375rem 0.625rem 0.375rem 1.5625rem;
  color: #939598;
  font-weight: 400;
  font-size: 0.75rem;
}

.menu-left__submenu-4lvl-link_active {
  background-color: #F0F0F0;
}

.menu-left__submenu-5lvl-link {
  color: #939598;
}

.menu-left__plus {
  position: absolute;
  top: 0.625rem;
  left: 0;
  z-index: 12;
  width: 1.25rem;
  height: 1.25rem;
  text-align: center;
  cursor: pointer;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.menu-left__plus::before {
  display: inline-block;
  vertical-align: middle;
  font-size: 0.75rem;
  font-family: glyphicons;
  content: '\002b';
}

.menu-left__plus:hover {
  color: #DA002E;
}

.menu-left__plus_active::before {
  content: '\2212';
}

.news-bank {
  padding: 1.375rem 3.75rem 0.9375rem 1.5rem;
}

.news-bank:hover .news-bank__header {
  color: #DA002E;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.news-bank__header {
  margin: 0 0 1.875rem 0;
  display: block;
  color: #39A9DC;
  font-size: 1.1875rem;
  text-transform: uppercase;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.news-bank__header:hover {
  text-decoration: none;
}

.news-bank__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.news-bank__item {
  margin-bottom: 0.9375rem;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.news-bank__item:hover .news-bank__date {
  color: #808080;
}

.news-bank__item:hover .news-bank__title {
  color: #202020;
}

.news-bank__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news-bank__link:hover {
  text-decoration: none;
}

.news-bank__date {
  margin-right: 0.75rem;
  min-width: 4.75rem;
}

.news-bank__title {
  margin: 0;
  max-width: 100%;
  color: #808080;
  font-size: 1.125rem;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.news-btn {
  margin-top: 0.5rem;
  padding: 0;
  list-style-type: none;
  text-align: center;
  color: #939598;
}

.news-btn__item {
  display: inline-block;
  vertical-align: top;
}

.news-btn__link {
  position: relative;
  display: block;
  padding: 0.625rem 0.875rem 0.5rem;
  border: 0.0625rem solid #F0F0F0;
  border-radius: 0.3125rem;
  color: inherit;
  font-size: 0.875rem;
  -webkit-transition: background .3s;
  transition: background .3s;
}

.news-btn__link:hover {
  background-color: #F0F0F0;
  text-decoration: none;
}

.news-btn__link::before {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  content: '';
}

.news-btn__link_prev {
  padding: 0.625rem 0.875rem 0.5rem 2.375rem;
}

.news-btn__link_prev::before {
  left: 0.625rem;
  height: 0;
  width: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 0.3125rem;
  border-right-color: #939598;
}

.news-btn__link_next {
  padding: 0.625rem 2.375rem 0.5rem 0.875rem;
}

.news-btn__link_next::before {
  right: 0.625rem;
  height: 0;
  width: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 0.3125rem;
  border-left-color: #939598;
}

.news-details {
  border-bottom: 0.125rem solid #dadbdb;
}

.news-details:before, .news-details:after {
  display: table;
  content: "";
}

.news-details:after {
  clear: both;
}

.lt-ie8 .news-details {
  zoom: 1;
}

.news-details p {
  font-size: 1rem;
  margin: 1.5625rem 0;
}

.news-details__header:before, .news-details__header:after {
  display: table;
  content: "";
}

.news-details__header:after {
  clear: both;
}

.lt-ie8 .news-details__header {
  zoom: 1;
}

.news-details__date {
  float: left;
  font-size: 0.6875rem;
  color: #808080;
}

.news-details__image {
  margin: 0.4375rem 0 1.6875rem;
}

.news-details__image_left {
  float: left;
  width: calc(50% - 0.21875rem);
  margin: 0.4375rem 0.21875rem 1.6875rem 0;
}

.news-details__image_right {
  float: right;
  width: calc(50% - 0.21875rem);
  margin: 0.4375rem 0 1.6875rem 0.21875rem;
}

.news-item {
  float: left;
  position: relative;
  width: calc(50% - .25rem);
  margin: 0 0.5rem 0.5rem 0;
  height: 15.0625rem;
  padding: 1.25rem;
  border: 0.125rem solid #F0F0F0;
  overflow: hidden;
  -webkit-transition: background .3s;
  transition: background .3s;
}

.news-item:hover {
  background-color: #F0F0F0;
}

.news-item:hover .news-item__image {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.news-item:hover .news-item__title {
  color: #202020;
}

.news-item:hover .news-item__date {
  color: #808080;
}

.news-item:hover .news-item__idea {
  color: #fff;
  background-color: #808080;
}

.news-item:hover .news-item__name {
  color: #202020;
}

.news-item_img:hover .news-item__title {
  color: #fff;
}

.news-item_img:hover .news-item__date {
  color: #fff;
}

.news-item_img .news-item__date {
  color: #fff;
}

.news-item_img .news-item__title {
  color: #fff;
  background-color: rgba(14, 60, 98, 0.9);
}

.news-item_img .news-item__image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.news-item_list {
  width: 100%;
  margin: 0 !important;
  height: auto;
  border-color: transparent;
  border-bottom-color: #F0F0F0;
}

.news-item_list:hover {
  border-bottom-color: #39A9DC;
}

.news-item_list:hover .news-item__title {
  color: #202020;
}

.news-item_list:hover .news-item__date {
  color: #808080;
}

.news-item_list .news-item__link,
.news-item_list .news-item__image {
  display: none;
}

.news-item_list .news-item__date {
  display: inline-block;
  vertical-align: top;
  color: #202020;
}

.news-item_list .news-item__share {
  display: block;
}

.news-item_list .news-item__category-wrap {
  display: inline-block;
  vertical-align: top;
  max-width: 100%;
}

.news-item_list .news-item__category {
  background-color: transparent;
  color: #808080;
}

.news-item_list .news-item__text {
  display: block;
  margin: 0 0 0.625rem;
}

.news-item_list .news-item__text :first-of-type {
  margin: 0;
}

.news-item_list .news-item__title {
  position: static;
  padding: 0;
  margin-bottom: 0.75rem;
  color: #808080;
  background-color: transparent;
}

.news-item_idea .share__item {
  margin-right: 0.625rem;
}

.news-item_idea .news-item__date {
  font-size: 1.75rem;
}

.news-item_idea .news-item__title {
  font-size: 1.0625rem;
}

.news-item_idea .date__month {
  margin-top: 0rem;
  font-size: 0.8125rem;
}

.news-item_idea .news-item__share {
  min-width: 220px;
}

.news-item_idea .share__item {
  margin-right: 0.3125rem;
}

.news-item__link {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: block;
  width: 100%;
  height: 100%;
}

.news-item__image {
  display: none;
}

.news-item__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1.25rem;
}

.news-item__date {
  margin-right: 1.8125rem;
  color: #202020;
}

.news-item__share {
  margin-left: 0.625rem;
  display: none;
  min-width: 18.75rem;
  pointer-events: none;
}

.news-item__category-wrap {
  max-width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.news-item__category {
  position: relative;
  margin-bottom: 0.3125rem;
  padding: 0.625rem;
  display: inline-block;
  vertical-align: top;
  color: #fff;
  background-color: #DA002E;
  border-radius: 0.3125rem;
  font-size: 0.6875rem;
  text-transform: uppercase;
}

.news-item__category:before, .news-item__category:after {
  display: table;
  content: "";
}

.news-item__category:after {
  clear: both;
}

.lt-ie8 .news-item__category {
  zoom: 1;
}

.news-item__title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0.3125rem 1.5rem;
  display: block;
  color: #808080;
  font-size: 1.25rem;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.news-item__title:hover {
  text-decoration: none;
}

.news-item__text {
  display: none;
  color: #808080;
  font-size: 0.9375rem;
}

.news-item__idea {
  padding: 0.625rem;
  color: #808080;
  background-color: #F0F0F0;
  border-radius: 0.3125rem;
  font-size: 0.6875rem;
  text-transform: uppercase;
  -webkit-transition: background .3s, color .3s;
  transition: background .3s, color .3s;
}

.news-item__idea:hover {
  background-color: #808080;
  color: #fff;
  text-decoration: none;
}

.news-item__name {
  display: block;
  color: #808080;
  font-size: 0.875rem;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.news-item__name:hover {
  text-decoration: none;
}

.pagination {
  float: right;
  font-size: 0.875rem;
  color: #808080;
}

.pagination__list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.pagination__item {
  width: 2.1875rem;
  height: 1.875rem;
  border: 0.125rem solid #F0F0F0;
  border-radius: 0.3125rem;
  text-align: center;
  line-height: 1.875rem;
  cursor: pointer;
  overflow: hidden;
}

.pagination__item:not(:last-of-type) {
  margin-right: 0.5rem;
}

.pagination__item_active {
  background-color: rgba(188, 190, 192, 0.3);
  cursor: default;
}

.pagination__item_spaser {
  cursor: default;
}

.pagination__link {
  display: block;
  color: inherit;
}

.pagination__link:hover {
  text-decoration: none;
  background-color: rgba(188, 190, 192, 0.3);
}

.pagination__arrow {
  position: relative;
}

.pagination__arrow:hover {
  background-color: rgba(188, 190, 192, 0.3);
}

.pagination__arrow::before {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
}

.pagination__arrow_prev::before {
  height: 0;
  width: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px;
  border-right-color: #808080;
  -webkit-transform: translate(-75%, -50%);
          transform: translate(-75%, -50%);
}

.pagination__arrow_next::before {
  height: 0;
  width: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px;
  border-left-color: #808080;
  -webkit-transform: translate(-25%, -50%);
          transform: translate(-25%, -50%);
}

.search {
  position: relative;
  color: #202020;
  font-size: 0.75rem;
  font-weight: 300;
}

.search input {
  width: 100%;
  padding: 0.5rem 2.1875rem 0.375rem 0.6875rem;
  border: 2px solid #F0F0F0;
  border-radius: 0.25rem;
  outline: none;
  height: 2.0625rem;
}

.search button {
  position: absolute;
  top: 0.3125rem;
  right: 0.4375rem;
  border: none;
  font-size: 0;
  background-color: transparent;
  color: #F0F0F0;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.search button::before {
  font-family: glyphicons;
  font-size: 1.125rem;
  content: '\e003';
}

.search button:hover {
  color: #DA002E;
}

.send-idea {
  position: absolute;
  z-index: 50;
  top: 2.5rem;
  left: -100%;
  width: 31.25rem;
  -webkit-transform: translateX(-999px);
          transform: translateX(-999px);
  background-color: #fcfcfc;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.send-idea_active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.send-idea__form {
  border: 0.125rem solid #F0F0F0;
  padding: 0.625rem;
  width: 100%;
  font-size: 0.875rem;
  color: #808080;
  border-radius: 0.625rem;
}

.send-idea__title, .send-idea__text, .send-idea__label-file {
  width: 100%;
  border: 0.125rem solid #F0F0F0;
  margin-bottom: 0.9375rem;
  padding: 0.4375rem;
  border-radius: 0.3125rem;
}

.send-idea__text {
  min-height: 6.25rem;
  resize: none;
}

.send-idea__label-file {
  position: relative;
  display: inline-block;
  width: 45%;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  -webkit-transition: background .3s;
  transition: background .3s;
}

.send-idea__label-file:hover {
  background-color: #F0F0F0;
}

.send-idea__file {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
}

.send-idea__mark {
  display: inline-block;
}

.send-idea__btn {
  min-width: 45%;
  float: right;
}

.share {
  float: right;
  font-size: 0.6875rem;
}

.share__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  white-space: nowrap;
}

.share__item {
  position: relative;
  z-index: 1;
  display: inline-block;
  vertical-align: top;
  margin-right: 1.5625rem;
  padding: 0.5rem 0.5rem 0.5rem 1.5625rem;
  color: #808080;
}

.share__item::before {
  position: absolute;
  left: 0.1875rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  content: '';
}

.share__item_comment::before {
  background-image: url(../img/png-sprite/96dpi/sprite.png);
  background-position: 0px 0px;
  width: 20px;
  height: 16px;
  background-size: 63px, 38px;
  background-repeat: no-repeat;
}

.share__item_like {
  cursor: pointer;
}

.share__item_like::before {
  background-image: url(../img/png-sprite/96dpi/sprite.png);
  background-position: 0px -20px;
  width: 15px;
  height: 18px;
  background-size: 63px, 38px;
  background-repeat: no-repeat;
}

.share__item_dislike {
  cursor: pointer;
}

.share__item_dislike::before {
  background-image: url(../img/png-sprite/96dpi/sprite.png);
  background-position: 0px -20px;
  width: 15px;
  height: 18px;
  background-size: 63px, 38px;
  background-repeat: no-repeat;
  -webkit-transform: rotate(180deg) translateY(50%);
          transform: rotate(180deg) translateY(50%);
}

.share__item_disliked::before {
  background-image: url(../img/png-sprite/96dpi/sprite.png);
  background-position: -24px 0px;
  width: 15px;
  height: 18px;
  background-size: 63px, 38px;
  background-repeat: no-repeat;
}

.share__item_liked::before {
  background-image: url(../img/png-sprite/96dpi/sprite.png);
  background-position: -24px 0px;
  width: 15px;
  height: 18px;
  background-size: 63px, 38px;
  background-repeat: no-repeat;
}

.share__item_views::before {
  background-image: url(../img/png-sprite/96dpi/sprite.png);
  background-position: -43px 0px;
  width: 20px;
  height: 11px;
  background-size: 63px, 38px;
  background-repeat: no-repeat;
}

.slider-small__item {
  position: relative;
}

.slider-small__image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.slider-small__link {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
  height: 100%;
  width: 100%;
}

.slider-small__title-wrap {
  display: table;
  width: 100%;
  min-height: 3.75rem;
  vertical-align: middle;
}

.slider-small__content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 3.75rem;
  padding: 0rem 1.8125rem;
  color: #fff;
  background-color: rgba(14, 60, 98, 0.8);
  text-align: center;
}

.slider-small__content h3 {
  margin: 0;
  display: table-cell;
  vertical-align: middle;
  font-size: 1.125rem;
  color: #fff;
}

.slider-small .slick-arrow {
  position: absolute;
  bottom: 0.875rem;
  z-index: 2;
  height: 1.875rem;
  width: 1.875rem;
  font-size: 0;
  border: none;
  background-color: transparent;
  outline: none;
}

.slider-small .slick-arrow::before {
  content: '';
}

.slider-small .slick-prev {
  left: 0.3125rem;
}

.slider-small .slick-prev::before {
  height: 0;
  width: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 7px;
  border-right-color: #fff;
}

.slider-small .slick-prev:hover:before {
  border-right-color: rgba(128, 128, 128, 0.8);
}

.slider-small .slick-next {
  right: 0.3125rem;
}

.slider-small .slick-next::before {
  height: 0;
  width: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 7px;
  border-left-color: #fff;
}

.slider-small .slick-next:hover:before {
  border-left-color: rgba(128, 128, 128, 0.8);
}

.slider-large {
  height: 100%;
  overflow: hidden;
}

.slider-large__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.slider-large__item {
  min-height: 14.375rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.slider-large .slick-arrow {
  position: absolute;
  z-index: 2;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 3.125rem;
  height: 3.125rem;
  font-size: 0;
  border-radius: 50%;
  border: none;
  background: rgba(255, 255, 255, 0.5);
  -webkit-transition: hover .3s;
  transition: hover .3s;
}

.slider-large .slick-arrow::before {
  content: '';
}

.slider-large .slick-arrow:hover {
  background: #F0F0F0;
}

.slider-large .slick-prev {
  left: -1.5625rem;
}

.slider-large .slick-prev::before {
  margin-left: 0.625rem;
  height: 0;
  width: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 9.5px;
  border-right-color: #fff;
}

.slider-large .slick-next {
  right: -1.5625rem;
}

.slider-large .slick-next::before {
  margin-right: 0.625rem;
  height: 0;
  width: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 9.5px;
  border-left-color: #fff;
}

.structure-catalog {
  font-size: 0.8125rem;
  color: #808080;
}

.structure-catalog__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 0.125rem solid #F0F0F0;
}

.structure-catalog__item {
  padding: 1.25rem 1.875rem 1.25rem 1.25rem;
}

.structure-catalog__avatar-wrap {
  display: inline-block;
  vertical-align: top;
  padding: 0.3125rem;
  border: 0.0625rem solid #F0F0F0;
  width: 12.5rem;
}

.structure-catalog__avatar {
  width: 100%;
  height: 100%;
}

.structure-catalog__label {
  padding: 0.375rem 0;
}

.structure-catalog__label_name {
  color: #DA002E;
  font-weight: bold;
}

.structure-catalog__phone-work {
  margin: 0 0.1875rem;
}

.submenu {
  position: relative;
  z-index: 10;
  display: table;
  border: 2px solid #dadbdb;
  padding: 1.0625rem 0 0.9375rem !important;
  text-align: left;
  background-color: #fff;
}

.submenu__col {
  display: table-cell;
  max-width: 14.5625rem;
  padding-left: 1.125rem;
  padding-right: 1.875rem;
  white-space: nowrap;
  word-break: break-all;
}

.submenu__col:not(:last-of-type) {
  border-right: 0.0625rem solid #dadbdb;
}

.submenu__item {
  position: relative;
  margin: 0.375rem 0;
}

.submenu__link {
  color: #202020;
  font-size: 0.875rem;
  font-weight: 600;
}

.submenu__sub-item {
  margin-left: 1.25rem;
  margin-bottom: 0.375rem;
  color: #808080;
}

.submenu__sub-link {
  color: #808080;
  font-size: 0.75rem;
  font-weight: 400;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.submenu__link:hover, .submenu__sub-link:hover {
  color: #DA002E;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.submenu-left {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: #fff;
}

.users {
  float: right;
  width: 75%;
}

.users h1 {
  margin: 0;
  font-size: 1.5rem;
  color: #202020;
}

.users table {
  width: 100%;
  font-size: 0.9375rem;
}

.users table td {
  padding: 0 0.625rem 1.25rem 0;
  vertical-align: top;
}

.users table td:first-of-type {
  width: 25%;
  color: #808080;
  padding: 0 1.4375rem 1.25rem 0;
}

.users table td:last-of-type {
  width: 75%;
}

.users table tfoot td {
  vertical-align: bottom;
  padding: 1.25rem 0 0.5rem 0;
}

.users table tfoot td:first-of-type {
  padding-bottom: 0.5rem;
}

.users table tfoot td:last-of-type {
  text-align: right;
}

.users__inner {
  padding: 1.5625rem 0;
}

.users__avatar {
  float: left;
  margin: 0 1.75rem 1.625rem 0;
}

.users__edit {
  color: #939598;
  font-size: 0.6875rem;
}

.users__info_main {
  width: 50% !important;
  margin-bottom: 1.625rem;
  border-bottom: 0.125rem solid #F0F0F0;
}

.users__info_main td:first-of-type {
  width: 45% !important;
}
